<% title "Create a new team account" %>

<% content_for :header do %>
  <h1 class="font-bold font-headings text-neutral-600 dark:text-neutral-100 text-2xl">Create a new account</h1>
  <p class="text-neutral-400 dark:text-neutral-200">Create a new account for your team or organization</p>
<% end %>

<%= render "teamable/shared/flash_messages" %>

<%= render "teamable/shared/form" %>