<section class="flex fixed h-[60px] relative bg-white dark:bg-dark-800 gap-x-8 z-40 items-center border-b dark:border-b-dark-700">
  <div class="container max-w-[1200px] mx-auto px-8 flex items-center h-[60px] gap-x-8">
    <%= content %>
  </div>
</section>