<% title "Setup your account" %>
<% content_for :header do %>
  <h1 class="font-bold font-headings text-neutral-600 dark:text-neutral-100 text-2xl">Setup your personal account</h1>
  <p class="text-neutral-400 dark:text-neutral-200">Finish the registration by setting up your user profile.</p>
<% end %>

<%= render "teamable/shared/flash_messages" %>
<%= render "teamable/shared/form" %>