<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
    <style type="text/css">
      form abbr[title] { display: none; }
    </style>
  </head>
  <body class="h-screen relative flex justify-center items-cente antialiased text-neutral-700 bg-neutral-50 dark:bg-dark-900">

    <% if alert %>
      <div class="fixed top-0 left-0 right-0 bg-white py-2 px-4 inline-block text-center w-full rounded shadow font-headings text-rose-500">
        <%= alert %>
      </div>
    <% end %>
  
    <section class="flex flex-col gap-8 items-center justify-center w-full">
      <header class="flex flex-col items-center gap-y-2 text-center max-w-lg">
        <%= yield :header %>
      </header>

      <%= yield %>
    </section>
  </body>
</html>
