<%= button_to target, class: "inline-flex items-center gap-x-1 py-3 px-4 text-sm leading-3 justify-center rounded transition bg-white hover:bg-neutral-50 dark:bg-dark-900 dark:hover:bg-dark-800 dark:text-neutral-200 whitespace-nowrap cursor-pointer #{custom_class}", method: method do %>
  <% if icon.present? %>
    <i class="<%= icon %> w-3 h-3"></i>
  <% end %>
  <% if text.present? %>
    <span class="ml-1"><%= text %></span>
  <% end %>
<% end %>